# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.venv
ENV/
env/
venv/

# VS Code
.vscode/

# Django
*.log
staticfiles/
media/
db.sqlite3
*.sqlite3

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Coverage
.coverage
htmlcov/

# MacOS
.DS_Store

# Docker
*.pid
